<ion-content>
  <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Iniciar Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<mat-card>
  
  <mat-card-content>
    <div class="imagen-login">
      <img src="https://image.freepik.com/vector-gratis/diseno-logotipo-libro-recetas-comida_139372-114.jpg?w=1380" alt="">
    </div>
    <div>
      <h2 class="ion-text-center">Bienvenido</h2>
      <p class="ion-text-center">Inicia sesión para continuar</p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="correo" type="email" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="contraseña" type="password" />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Iniciar sesión
      </button>
    </form>
  </mat-card-content>
</mat-card>



</ion-content>